@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

.add-to-cart-button {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.product-wrapper:hover .add-to-cart-button {
	display: flex; /* Show the button on hover */
	opacity: 1;
}

.tooltip-content {
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

.group:hover .tooltip-content {
	opacity: 1;
	display: flex; /* Ensure this matches your initial non-hover display state if different */
}

.star-rating {
	position: relative;
}

.stars {
	display: flex;
}

.rating {
	position: absolute;
	top: 0;
}
