@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

.add-to-cart-button {
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.product-wrapper:hover .add-to-cart-button {
	display: flex; /* Show the button on hover */
	opacity: 1;
}

.variants-container {
	display: flex;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

.variants-visible {
	opacity: 1;
	visibility: visible;
}
