@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

.add-to-cart-button {
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.product-wrapper:hover .add-to-cart-button {
	display: flex; /* Show the button on hover */
	opacity: 1;
}

..product-wrapper:hover .variants-button {
	opacity: 1;
	display: flex;
}
